
<!-- ================================
       START FOOTER AREA
================================= -->
<section class="footer-area bg-gradient-gray padding-top-100px padding-bottom-30px position-relative">
    <span class="circle-bg circle-bg-1 position-absolute"></span>
    <span class="circle-bg circle-bg-2 position-absolute"></span>
    <span class="circle-bg circle-bg-3 position-absolute"></span>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 responsive-column">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a href="/" class="foot-logo"><h3>DEWS</h3></a>
                    </div><!-- end footer-logo -->
                    <ul class="list-items contact-links pt-3">
                        <li><span class="d-block text-color mb-1"><i class="la la-map mr-1 text-color-2"></i>Address:</span> Federal University of Technology Minna</li>
                        <li><span class="d-block text-color mb-1"><i class="la la-phone mr-1 text-color-2"></i>Phone:</span><a href="#">+ 61 23 8093 3400</a></li>
                        <li><span class="d-block text-color mb-1"><i class="la la-envelope mr-1 text-color-2"></i>Email:</span><a href="#">DEWS@gmail.com</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-4 responsive-column">
                <div class="footer-item">
                    <h4 class="footer__title">Company</h4>
                    <div class="stroke-shape mb-3"></div>
                    <ul class="list-items">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/map">Map</a></li>
                        <li><a href="/contact">COntact Us</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/team">Team Members</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div>
            <div class="col-lg-4 responsive-column">
                <div class="footer-item">
                    <h4 class="footer__title">Quick Actions</h4>
                    <div class="stroke-shape mb-3"></div>
                    <ul class="list-items">
                        <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#signUpModal">Sign Up</a></li>
                        <li><a href="/map">Run Prediction</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
        </div><!-- end row -->
        <div class="row pt-4 footer-action-wrap">
            <div class="col-lg-4">
                <h4 class="font-size-17 pb-3">Follow us on</h4>
                <ul class="social-profile social-profile-styled">
                    <li><a href="#" class="facebook-bg" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="lab la-facebook-f"></i></a></li>
                    <li><a href="#" class="twitter-bg" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="lab la-twitter"></i></a></li>
                    <li><a href="#" class="instagram-bg" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="lab la-instagram"></i></a></li>
                    <li><a href="#" class="dribbble-bg" data-toggle="tooltip" data-placement="top" title="Dribble"><i class="la la-dribbble"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="footer-chosen-container user-chosen-select-container d-flex align-items-center justify-content-end">
                    <div class="mr-2">
                        <h4 class="font-size-17 pb-3">Languages</h4>
                        <select class="user-chosen-select">
                            <option value="1" selected>English</option>
                        </select>
                    </div>
                     <div>
                        <h4 class="font-size-17 pb-3">Countries</h4>
                        <select class="user-chosen-select">
                            <option value="15" selected>Nigeria</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-block-2 my-4"></div>
        <div class="row">
            <div class="col-lg-12">
                <div class="copy-right d-flex align-items-center justify-content-between">
                    <p class="copy__desc">
                        &copy; Copyright DEWS <script> document.write(new Date().getFullYear()); </script>.
                    </p>
                    <ul class="list-items term-list text-right">
                        <li class="font-size-14"><a href="#">Terms & Conditions</a></li>
                        <li class="font-size-14"><a href="#">Privacy Policy</a></li>
                    </ul>
                </div><!-- end copy-right -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end footer-area -->
<!-- ================================
       START FOOTER AREA
================================= -->