{{> header }}

<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area breadcrumb--area bread-bg-2 bread-overlay overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content">
                    <div class="section-heading">
                        <h2 class="sec__title text-white font-size-40 line-height-55">DEWS Predicts Drought in Nigeria <br>.</h2>
                    </div>
                    
                </div><!-- end breadcrumb-content -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
    <div class="bread-svg">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 1200 415" preserveAspectRatio="none"><g class="pix-waiting animated" data-anim-type="fade-in-up" data-anim-delay="700"><path class="bg-gray-1" fill-opacity="0.2" d="M5.68434189e-13,292.788567 C80.6666667,271.41188 159.333333,260.723537 236,260.723537 C421,260.723537 525,344.759008 670,273.729027 C788.879994,215.494242 940.849865,-5.02123357 1200,0.788566864 C1200,33.4552335 1200,171.525711 1200,415 L9.19819776e-13,414.788567 L5.68434189e-13,292.788567 Z"></path></g><g class="pix-waiting animated" data-anim-type="fade-in-up" data-anim-delay="500"><path class="bg-gray-1" fill-opacity="0.6" d="M2.08355555e-12,332.788567 C80.6666667,284.745214 159.333333,260.723537 236,260.723537 C421,260.723537 525,344.759008 670,273.729027 C789.08369,215.39446 940.387018,21.5609115 1200,37.7885669 C1200,55.7885669 1200,181.525711 1200,415 L1.8189894e-12,414.788567 L2.08355555e-12,332.788567 Z"></path></g><path class="bg-gray-1" d="M9.09494702e-13,373.771254 C80.6666667,298.406109 159.333333,260.723537 236,260.723537 C421,260.723537 525,344.759008 670,273.729027 C789.088175,215.392262 940.369069,48.85905 1200,74.7885669 C1200,148.788567 1200,262.192378 1200,415 L1.0227342e-12,414.788567 L9.09494702e-13,373.771254 Z"></path><defs></defs></svg>
    </div><!-- end bread-svg -->
</section><!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->


<!-- ================================
    START ABOUT AREA
================================= -->
<section class="about-area padding-bottom-100px">
    <div class="container">
        <div class="row padding-bottom-100px align-items-center">
            <div class="col-lg-6">
                <div class="about-content mt-0">
                    <div class="section-heading">
                        <div class="section-badge pb-3">
                            <span class="ribbon ribbon-2 bg-2 text-white">Who we are?</span>
                        </div>
                        <h2 class="sec__title">Welcome to DEWS</h2>
                        <p class="sec__desc pb-3">
                            Ut euismod ultricies sollicitudin. Curabitur sed dapibus nulla.
                            Nulla eget iaculis lectus. Mauris ac maximus neque. Nam in mauris quis
                            libero sodales eleifend.
                        </p>
                        <p class="sec__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in
                            pulvinar neque.
                        </p>
                    </div><!-- end section-heading -->
                    <div class="btn-box padding-top-30px">
                        <a href="#" class="theme-btn gradient-btn">Find out More<i class="la la-arrow-right ml-2"></i></a>
                    </div><!-- end btn-box -->
                </div>
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6">
                <div class="img-boxes row">
                    <div class="col-lg-6 responsive-column">
                        <div class="img-box-item mb-4 js-tilt-2">
                            <img class="lazy" src="images/img-loading.html" data-src="images/img20.jpg" alt="about-img">
                        </div>
                        <div class="img-box-item js-tilt-2">
                            <img class="lazy" src="images/img-loading.html" data-src="images/img21.jpg" alt="about-img">
                        </div>
                    </div>
                    <div class="col-lg-6 responsive-column">
                        <div class="img-box-item js-tilt-2">
                            <img class="lazy" src="images/img-loading.html" data-src="images/img38.jpg" alt="about-img">
                        </div>
                    </div>
                </div><!-- end img-boxes -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
        <div class="section-block"></div>
        <div class="row section-padding">
            <div class="col-lg-6">
                <div class="img-boxes">
                    <div class="img-box-item">
                        <img class="lazy" src="images/img-loading.html" data-src="images/img31.jpg" alt="about-img">
                    </div>
                </div><!-- end img-boxes -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6">
                <div class="about-content pl-4 mb-0">
                    <div class="section-heading">
                        <div class="section-badge pb-3">
                            <span class="ribbon ribbon-2 bg-2 text-white">Our Mission</span>
                        </div>
                        <h2 class="sec__title">Our Mission Is Simple: Make Prediction Easier.</h2>
                        <p class="sec__desc pb-3">
                            We offer drought presiction to anyone with internet access.
                        </p>
                         <p class="sec__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in
                            pulvinar neque. Nulla finibus lobortis pulvinar.
                        </p>
                    </div><!-- end section-heading -->
                </div>
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end about-area -->
<!-- ================================
    END ABOUT AREA
================================= -->



{{>team-section}}

<!-- ================================
    START CTA AREA
================================= -->
<section class="cta-area section-padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="sec__title mb-3">Get STarted With DEWS</h2>
                    <p class="sec__desc mb-2">
                        Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero <br>
                        a feugiat eros. Nunc ut lacinia tortors.
                    </p>
                </div><!-- end section-heading -->
                <div class="btn-box pt-4">
                    <a href="#" class="theme-btn gradient-btn hover-scale" data-toggle="modal" data-target="#signUpModal">Create Your DEWS Account Today <i class="la la-arrow-right ml-2"></i></a>
                </div><!-- end btn-box -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end cta-area -->
<!-- ================================
    END CTA AREA
================================= -->


{{> footer }}