{{> header }}


<!-- ================================
    START HERO-WRAPPER AREA
================================= -->
<section class="hero-wrapper overflow-hidden">
    <div class="overlay"></div><!-- end overlay -->
    <div id="fullscreen-slide-container">
        <ul class="slides-container">
            <li><img class="lazy" src="images/img-loading.html" data-src="images/banner1.jpg" alt=""></li>
            <li><img class="lazy" src="images/img-loading.html" data-src="images/banner1.jpg" alt=""></li>
            <li><img class="lazy" src="images/img-loading.html" data-src="images/banner1.jpg" alt=""></li>
        </ul>
    </div><!-- End fullscreen-slide-container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero-heading text-center">
                    <div class="section-heading">
                        <h2 class="sec__title cd-headline slide">
                           Frequently Asked Questions
                        </h2>
                        
                    </div>
              
                </div><!-- end hero-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
    <div class="svg-bg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path fill="#F5F7FC" class="elementor-shape-fill" d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z"></path>
        </svg>
    </div>
</section><!-- end hero-wrapper -->
<!-- ================================
    END HERO-WRAPPER AREA
================================= -->


<div class="faq-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 mx-auto">
                    <div class="page-scroll padding-top-100px" id="getting-started">
                        <h3 class="widget-title pb-4">Getting Started</h3>
                        <div class="accordion-item" id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5>
                                        <button class="btn btn-link d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            General Description
                                            <i class="la la-minus"></i>
                                            <i class="la la-plus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium at, dolore dolores ea excepturi facilis laboriosam magni molestias provident, ratione recusandae vero, voluptates! Cupiditate exercitationem in quaerat quos rem sunt ut? At dolorem ducimus eius enim nemo neque non.</p>
                                    </div>
                                </div>
                            </div><!-- end card -->
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5>
                                        <button class="btn btn-link d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Can I create a free listing?
                                            <i class="la la-minus"></i>
                                            <i class="la la-plus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                                    </div>
                                </div>
                            </div><!-- end card -->
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5>
                                        <button class="btn btn-link d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            How much time does it take to get approval?
                                            <i class="la la-minus"></i>
                                            <i class="la la-plus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                                    </div>
                                </div>
                            </div><!-- end card -->
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5>
                                        <button class="btn btn-link d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Do I have to commit to a yearly subscription?
                                            <i class="la la-minus"></i>
                                            <i class="la la-plus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                                    </div>
                                </div>
                            </div><!-- end card -->
                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <h5>
                                        <button class="btn btn-link d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            Is my listing secure?
                                            <i class="la la-minus"></i>
                                            <i class="la la-plus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                                    </div>
                                </div>
                            </div><!-- end card -->
                            <div class="card">
                                <div class="card-header" id="headingSix">
                                    <h5>
                                        <button class="btn btn-link d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            Why people chose this listing?
                                            <i class="la la-minus"></i>
                                            <i class="la la-plus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                                    </div>
                                </div>
                            </div><!-- end card -->

                        </div><!-- end accordion-item -->
                    </div><!-- end page-scroll -->
                 
                </div><!-- end col-lg-10 -->
            </div><!-- end row -->
        </div>
    </div>


{{> footer }}
