{{> header }}

<!-- ================================
    START HERO-WRAPPER AREA
================================= -->
<section class="hero-wrapper overflow-hidden">
    <div class="overlay"></div><!-- end overlay -->
    <div id="fullscreen-slide-container">
        <ul class="slides-container">
            <li><img class="lazy" src="images/img-loading.html" data-src="images/banner1.jpg" alt=""></li>
            <li><img class="lazy" src="images/img-loading.html" data-src="images/banner1.jpg" alt=""></li>
            <li><img class="lazy" src="images/img-loading.html" data-src="images/banner1.jpg" alt=""></li>
        </ul>
    </div><!-- End fullscreen-slide-container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero-heading text-center">
                    <div class="section-heading">
                        <h2 class="sec__title cd-headline slide">
                           Prediction For {{state}} State
                        </h2>
                        
                    </div>
                    <div class="section-body text-center">
                        <form action="#" class="form-box ">
                            <div class="form-group mb-0">
                                
                                <select class="form-control" id="lga" aria-placeholder="Select the LGA">
                                    <option name="select" default="true" value="select">Select An LGA</option>
                                    {{#eachIndex  list}}
                                        <option name="{{item}}">{{item}}</option>
                                    {{/eachIndex }}
                                </select>                             
                            </div>
                            <div class="form-group mb-0">
                                
                                <input type="number" min="" max="2030" class="form-control mt-3 year" placeholder="Input The Year You want to predict for">
                            </div>
                            <div class="form-group mb-0 mt-3">
                                <a href="#" class="theme-btn gradient-btn shadow-none add-listing-btn-hide predict-btn">
                                <i class="la la-plus mr-2"></i>Run Prediction
                            </a>
                            </div>
                        </form> 
                    </div>
                </div><!-- end hero-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
    <div class="svg-bg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path fill="#F5F7FC" class="elementor-shape-fill" d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z"></path>
        </svg>
    </div>
</section><!-- end hero-wrapper -->
<!-- ================================
    END HERO-WRAPPER AREA
================================= -->

<script>
    let btn = document.querySelector('.predict-btn');
    btn.addEventListener('click', () => {
        let year = document.querySelector('.year').value;
        let state = "{{state}}";
        let lga = document.querySelector("#lga").value;

        if(lga === "select" || !lga){
            return alert("Please Select An LGA")
        }

        let currentYear = new Date().getFullYear();
        let maxYear = currentYear+1;
        let minYear = currentYear-1;

        if(!year){
            return alert("Please Enter a Valid Year");
        } else if(year > maxYear){
            return alert(`Please Enter a Year Not Greater Than ${maxYear}`);
        } else if(year < minYear){
            return alert(`Please Enter a Year Not Less Than ${minYear}`);
        } else {
            btn.innerText = 'Loading...';
            let data = {
                year: year * 1,
                state: state.toUpperCase(),
                lga: lga
            };

            fetch("https://dewsapp.herokuapp.com/dews/pred/", {
                method: "POST", 
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            }).then(res => {
                return res.json()
            }).then(data => {
                let modal_body = document.querySelector('.modal-body.pred');
                modal_body.innerHTML = "";
                modal_body.innerHTML += `<p><strong style="color: #111;">STATE : </strong><span class="state_res">${state.toString().toUpperCase()}</span></p>`;
                modal_body.innerHTML += `<p><strong style="color: #111;">LGA : </strong><span class="state_res">${lga.toString().toUpperCase()}</span></p>`;
                
                const colorMap = new Map();
                colorMap.set('NO DROUGHT', 'green')
                colorMap.set('MILD DROUGHT', 'yellow')
                colorMap.set('MODERATE DROUGHT', 'pink')
                colorMap.set('SEVERE DROUGHT', '#641321')
                colorMap.set('SEVERE DROUGHT', 'red')

                const keys = Object.keys(data);
                
                keys.forEach((key, index) => {
                    if(key.toString() === 'ocean_temperature' || key.toString() === 'climate_direction') return;
                    let el = `<p><strong style="color: #111;">${key.toString().toUpperCase().replace('SPEI_','')} : </strong><span class="state_res" style="padding: 2px 2px; background-color: ${colorMap.get(data[key].toString().toUpperCase())};">${data[key].toString().toUpperCase()}</span></p>`;
                    modal_body.innerHTML += el;
                });

                
                
                $('#resultModal').modal('show')
                btn.innerHTML = '<i class="la la-plus mr-2"></i>Run Prediction';
            }).catch(err => {
                alert('An Error Occured Please Try Again')
                btn.innerHTML = '<i class="la la-plus mr-2"></i>Run Prediction'
            })
        }
    })
</script>

{{> footer }}